.list{
    flex:1;
    border: 1px;
     padding: 10px; 
     display: flex;
     flex-direction: column;
     scrollbar-color: transparent transparent;


}
.userInfo, .chatList {
    margin-bottom: 10px;
    padding: 10px;
    
  }